In [1]:
import glob
import random
import cv2 as cv
import numpy as np
import pandas as pd
from math import floor
from shutil import copyfile

In [2]:
emotions = ["Anger", "Disgust", "Fear", "Happiness", "Sadness", "Surprise"]

In [3]:
features = []
labels = []

for emotion in emotions:
    imagens = glob.glob("./emotionss/{}/*".format(emotion))
    for img in imagens:
        matriz = cv.imread(img)
        gray = cv.cvtColor(matriz, cv.COLOR_BGR2GRAY)
        features.append(gray.reshape((350*350)))
        labels.append(emotions.index(emotion))

In [4]:
df_imagens = pd.DataFrame(features)
df_imagens.head()

,0,1,2,3,4,5,6,7,8,9,...,122490,122491,122492,122493,122494,122495,122496,122497,122498,122499
0,8,8,8,8,9,9,9,10,10,9,...,20,20,20,20,21,21,21,21,21,21
1,1,1,1,1,1,1,1,1,1,1,...,74,74,72,70,68,67,66,66,66,66
2,2,2,2,2,2,2,2,2,2,2,...,89,90,91,92,93,94,95,95,96,96
3,2,2,2,3,4,4,4,3,3,4,...,25,24,23,23,22,22,22,22,22,22
4,1,1,1,1,1,0,0,0,0,0,...,19,20,20,20,19,19,19,19,19,19

In [5]:
df_imagens['label'] = labels
df_imagens.head()

,0,1,2,3,4,5,6,7,8,9,...,122491,122492,122493,122494,122495,122496,122497,122498,122499,label
0,8,8,8,8,9,9,9,10,10,9,...,20,20,20,21,21,21,21,21,21,0
1,1,1,1,1,1,1,1,1,1,1,...,74,72,70,68,67,66,66,66,66,0
2,2,2,2,2,2,2,2,2,2,2,...,90,91,92,93,94,95,95,96,96,0
3,2,2,2,3,4,4,4,3,3,4,...,24,23,23,22,22,22,22,22,22,0
4,1,1,1,1,1,0,0,0,0,0,...,20,20,20,19,19,19,19,19,19,0

In [6]:
df_imagens.to_csv('./df_imagens.csv', index=False)